<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<header class="site-header">
    
    <div class="header-container">
        <a href="index.html" class="logo">
            Oliver <span>Impresores</span>
        </a>
        <nav class="nav-menu">
            <a href="index.html" class="nav-link">Inicio</a>
            <a href="servicios.html" class="nav-link">Servicios</a>
            <a href="contacto.html" class="nav-link">Contacto</a>
        </nav>
        <div class="header-contact">

    <a href="https://wa.me/5233336328230" class="btn-phone">

        <i class="fa-brands fa-whatsapp"></i>

        <span>(33) 3632-8230</span>

    </a>

</div>
    </div>
</header>
