<header class="site-header">
    <div class="header-container">
        <a href="index.html" class="logo">
            Oliver <span>Impresores</span>
        </a>
        <nav class="nav-menu">
            <a href="index.html" class="nav-link">Inicio</a>
            <a href="servicios.html" class="nav-link">Servicios</a>
            <a href="contacto.html" class="nav-link">Contacto</a>
        </nav>
        <div class="header-contact">
            <i class="fa-brands fa-whatsapp"></i>
            <a href="tel:3336328230" class="btn-phone">(33) 3632-8230</a>
</div>
    </div>
</header>
